<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <br />
  <br />
  <div class="row" style="text-align:center;">
    <div class="col-sm-12" style="padding-bottom:15px;">
      <img src="./assets/images/sample.png" alt="profile picture" />
    </div>
    <div class="col-sm-12" style="padding-bottom:15px;">
      <h4>{{user.name}}</h4>
    </div>
    <div class="col-sm-12">
      <button class="btn btn-default" style="float:center;">Balance (${{user.credits}})</button>
      <a class="btn btn-default" href="/accountinfo" role="button" style="float:center;">Edit Account Info</a>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <h4>Recently Reviewed</h4>
      <!-- TODO: Create sort by ratings and date-->
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="notes in reviews">
            <td><h6>{{notes.name}}</h6></td>
            <td><h6 style="font-weight:normal;">{{notes.description}}</h6></td>
            <td><h6 style="font-weight:normal;" ng-bind="dateFormat(notes.date)"></h6></td>
            <td><div style="display:inline;">
              <span ng-repeat="i in getNumber(5) track by $index" ng-class="{'rating2':$index < notes.ratingTotal/notes.ratingNum}">☆</span>    
        </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>