span.stars, span.stars > * {
	display: block;
	background: url('../assets/images/stars.png') 0 -16px repeat-x;
	width: 80px;
	height: 16px;
}

span.stars > * {
	background-position: 0 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

h4 {
	color: #707070;
}

h6 {
	color: #ababab;
}