<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
	<br />
	<div class="row">
		<div class="col-sm-12">
			<h4>Account Info</h4>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-4">
      		<img src="./assets/images/sample.png" alt="profile picture" />
		</div>
		<div class="col-sm-8">
			<h4>{{user.name}}</h4>
			<p>Your current balance is ${{user.credits}}.</p>
			<form class="form-inline" ng-submit="credit()">
				<label for="creditInput" style="color:#707070;">Credits</label>
				<input type="number" class="form-control" id="creditInput" placeholder="1" min="0" ng-model="additionalCredits"></input>
				<button type="submit" class="btn btn-default {{button}}">Add Credits</button>
			</form>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-12">
			<h4>Payment Information</h4>

			<br />
			<table class="table table-striped">
		        <tbody>
		          <tr>
		            <td><h6 data-ng-model="user">{{nickname}}</h6></td>
		            <td><h6 style="font-weight:normal;">{{expiration}}</h6></td>
		            <td>
		            	<script type="text/ng-template" id="creditCard.html">
		            		<div class="modal-header">
		            			<h4 class="modal-title">Edit your information below</h4>
		            		</div>
		            		<div class="modal-body">
		            			<form ng-submit="editCard()">
		            				<div class="form-group">
		            					<label for="nickname">Nickname of card</label>
		            					<input type="text" class="form-control" id="nickname" placeholder="Jane Does's Credit Card" ng-model="nickname"></input>
		            				</div>
		            				<div class="form-group">
		            					<label for="cardnumber">Card number</label>
		            					<input type="number" class="form-control" id="cardnumber" placeholder="1234567890123456" ng-model="cardnumber"></input>
		            				</div>
		            				<div class="form-group">
		            					<label for="expiration">Expiration date</label>
		            					<input type="number" class="form-control" id="expiration" placeholder="mmyy" ng-model="expiration"></input>
		            				</div>
		            			</form>
		            		</div>
		            		<div class="modal-footer">
		            			<button class="btn btn-primary" ng-click="save()">Save</button>
            					<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		            		</div>
		            	</script>
		            	<button type="submit" class="btn btn-default" style="float:right;" ng-click="open()">{{cardMessage}}</button>
		            </td>
		            <td>
		            	<form ng-submit="deleteCard()">
		            		<button type="submit" class="btn btn-default" role="button">Delete Card</button>
		            	</form>
		            </td>
		          </tr>
		      </tbody>
		  </table>
		</div>
	</div>
</div>