<div ng-include="'components/navbar/navbar.html'"></div>
<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->
<div class="main-container">
  <div class="bg1">
  </div>
  <div class="about-notr scrolling-div">
    <div class="row">
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus tempor leo at commodo. Integer purus lectus, lacinia ac efficitur rutrum, scelerisque in nisi. Vivamus dapibus molestie diam, sit amet blandit justo maximus nec. </p>
      </div>
      <div class="col-md-4">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus tempor leo at commodo. Integer purus lectus, lacinia ac efficitur rutrum, scelerisque in nisi. Vivamus dapibus molestie diam, sit amet blandit justo maximus nec. </p>
      </div>
      <div class="col-md-4">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus tempor leo at commodo. Integer purus lectus, lacinia ac efficitur rutrum, scelerisque in nisi. Vivamus dapibus molestie diam, sit amet blandit justo maximus nec. </p>
      </div>
    </div>
  </div>
  <div class="bg2">
    <div class="cont-wrapper">
      <div class="fixed-div-content">
        <div class="alfred">
          <h1>Mi notes es su notes</h1>
          <h4>Notr makes note sharing as easy as eating cake</h4>
          <h4>No more monthly fees billed yearly</h4>
          <h4>(Ain't no self-respecting college student got money for that)</h4>
          <h3 style="color:white">Upload Notes. Set Price. Share. Make Bank.</h3>
        </div>
      </div>
    </div>
  </div>
</div>