<div ng-controller="DashboardCtrl">
	<div ng-include="'components/navbar/navbar.html'"></div>
	<div class="dashboard-container">
		<div class="row head">
			<div class="col-md-2 same-height">
				<span class="notes-feed-head"><h3>Notes Feed</h1></span>
			</div>
			<div class="col-md-2 same-height" id="sorting">
				<a href="" ng-click='sort="date"'><span>newest</span></a>
				<a href="" ng-click='sort="-rating"'><span style="margin-left:20px">rating</span></a>
			</div>
			<div class="col-md-8 same-height new-note-button">
				<a href="/uploadNote" type="button" class="btn btn-default">Add Notes</a>	
			</div>
		</div>		
		
		<div id="notes-feed-div"ng-repeat="note in notes | orderBy:sort">	
			<div class="row dash-notes">
	  			<a href="/notes/{{note._id}}"><div class="col-md-3">+ {{note.name}}</div></a>
	  			<div class="col-md-4">{{note.description}}</div>
	  			<div ng-bind="dateFormat(note.date)" class="col-md-2"></div>
	  			<div class="col-md-3" style="display:inline;position:absolute;right:0;">
					<span ng-repeat="i in getNumber(5) track by $index" ng-class="{'rating2':$index < note.ratingTotal/note.ratingNum}">☆</span>		
				</div>
			</div>
		</div> 

		<br><br><br>

		<div class="row head">
			<div class="col-md-2 same-height">
				<span class="dash-library-head"><h3>Library</h3></span>
			</div>
		</div>

		<div ng-repeat="note in notes | orderBy:sort">	
			<div class="row dash-notes">
	  			<div class="col-md-3">+ {{note.name}}</div>
	  			<div class="col-md-4">{{note.description}}</div>
	  			<div ng-bind="dateFormat(note.date)"class="col-md-5"></div>
			</div>
		</div>
</div>

<script>
  $(document).ready(function() {
    $('.stars').stars();
  });
</script>