.dashboard-container{
	width:80%;
	margin:0 auto;
}

.notes-feed{
	
}

.row .head{
	display:table;
}

.same-height{
	float:none;
	display:table-cell;
}

.new-note-button{
	text-align: right;
	transform: translateX(17%);
}

.dash-notes{
	margin-top:15px;
}
