.dashboard-container{
	width:80%;
	margin:0 auto;
	margin-top:30px;
	color:#ababab;
}

#sorting a {
	text-decoration: none;
	color:#ababab;
}

#sorting a :hover {
	color:orange;
}

#notes-feed-div{

	a {
		color:#ababab;
	}

	a:hover{
		color:orange;
	}

	a:active{
		color:orange;
	}
}

.notes-feed-head, .dash-library-head{
	color:#707070;
}
.row .head{
	display:table;
}

.same-height{
	float:none;
	display:table-cell;
}

.new-note-button{
	text-align: right;
	transform: translateX(17%);
}

.dash-notes{
	margin-top:15px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}