h3 {
	color: #707070;	
}

.library-container {
	width: 80%;
	margin: 0 auto;
	margin-top:30px;
	color: #ababab;
}

a {
	text-decoration: none;
	color: #ababab;
}

a:hover{
	color:orange;
}

a:active{
	color:orange;
}

.row .head{
	display:table;
}

.same-height{
	float:none;
	display:table-cell;
}

.dash-notes{
	margin-top:15px;
}