<div ng-controller="UploadNoteCtrl">
	<div ng-include="'components/navbar/navbar.html'"></div>
	<div class="upload-note-container">
		<div ngf-drop ng-model="files" class="drop-box" 
	        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
	        ngf-accept="'.jpg,.png,.pdf'">PDF file here</div>
	    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
	    
	    File Preview: <iframe ngf-src="files[0]"></iframe>

	    <form ng-model="note">
	    	Name: <input type="text" name="name" placeholder="Name" />
	    	<br />
	    	Description: <input type="text" name="description" placeholder="Description" />
	    	<br />
	    	Price: <input type="number" name="price" placeholder="price" />
	    </form>
    </div>
</div>