.search-container{
	width:60%;
	margin:0 auto;
	margin-top:40px;
	font:'Roboto', sans-serif;
}

.notr{
	font:'Roboto',sans-serif;
	font-weight: 400;
	color:#707070;
	font-size:80px;
}

.search{
	width:100%;
	height:50px;
}

.results {
	ul {
		list-style-type: none;
		background-color: #efefef;
		width:100%;
	}

	li{
		border:1px;
	}

	li div{
		display: inline-block;
	}

	a{
		text-decoration: none;
		color:#707070;
	}

	a:hover {
		color:orange;
	}
}
 
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#ffffff;
  height: 1px;
  margin-left:-8px;
}

.result{
	width:100%;
	height:40px;
	transition: all .2s ease-in-out;
}

.result:hover{
	transform: scale(1.0);
	margin-left:-20px;
	width:100%;
	color:orange;
}

.result div{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}