<div ng-include="'components/navbar/navbar.html'"></div>
<div class="search-container" ng-controller="SearchCtrl">
  <div style="text-align: center">
    <span class="notr">notr.io</span>
  </div> 
  <div class="notes-search">
    <input type="text" ng-model="search" class="search" placeholder="Search for notes...">
  </div>
  <div class="results" ng-hide="!search">
      <ul>
          <li ng-repeat="note in notes | filter:search">
            <a href="">
              <div class="result">
                  <a href="notes/{{note._id}}"><div><h5>{{note.name}}</h5></div></a>
              </div>
            </a><hr>
          </li>
        </ul>
    </div>
</div>